<div class=body id=body>
    <form class="form" (ngSubmit)="createNewChannel()">
		<p>Channel Name</p>
		<div class="searchBar">
			<input type="text" placeholder="Your channel name" name="name" [(ngModel)]="name" class="searchInput">
		</div>
		<div class='separator'></div>
		<p>Choose a password</p>
		<div class="searchBar">
			<input type="text" placeholder="Your password" name="password" [(ngModel)]="password" class="searchInput">
		</div>
		<h1>Leave empty for a public channel</h1>
		<button type="submit" name="submit" class='btn'>Create</button>
    </form>
</div>
