<div class="container">
	<div class="rankingContainer">
		<table class="content" id="table">
			<tr>
				<th>Nickname</th>
				<th>Wins</th>
				<th>Defeats</th>
				<th>User</th>
				<th>Coallition</th>
			</tr>
			<tr *ngFor="let user of allUsers">
				<td [className]="user.isConnected ? '' : 'notConnected'">{{user.nick}}</td>
				<td [className]="user.isConnected ? '' : 'notConnected'">{{user.wins}}</td>
				<td [className]="user.isConnected ? '' : 'notConnected'">{{user.defeats}}</td>
				<td [className]="user.isConnected ? '' : 'notConnected'">{{user.name}}</td>
				<td [className]="user.isConnected ? '' : 'notConnected'">{{user.coallition}}</td>
			</tr>
		</table>
	</div>
	<div class="sortBy">
		<p class="text">Rank by:</p>
		<p class="sortByWins" (click)="rankByWins()">Wins</p>
		<p class="sortByDefeats" (click)="rankByDefeats()">Defeats</p>
	</div>
</div>
