div{
    border: 0px solid #ede5f2ff;
}

.container
{
	position: relative;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(19, 5, 11, .50);
	box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	border-radius: 3.8vh;
	border: 0.5vh solid #ede5f2ff;
}

.rankingContainer
{
	position: absolute;
	width: 90%;
	height: 90%;
	right: 0;
	left: 0;
	top: 0;
	margin: auto;
	overflow: auto;
}

.content
{
	color: #ede5f2ff;
	font-family: futura;

	position: relative;
	width: 110vh;
	
	right: 0;
	left: 0;
	margin: auto;

	border-collapse: separate;
	border-spacing: 0 1vh;
}

th
{
	font-size: 2.5vh;
	font-weight: normal;
	letter-spacing: 0.2vh;
	padding-bottom: 1%;
	padding-top: 1%;
}

tr
{
	font-size: 2vh;
	font-weight: normal;
	letter-spacing: 0vh;
	padding-bottom: 1%;
}

.notConnected
{
	color: rgba(237, 229, 242, .6);
}

.sortBy
{
	position: absolute;
	width: 90%;
	height: 7%;
	top: 90%;
	right: 0;
	left: 0;
	margin: auto;
}

p
{
	position: absolute;
	height: 100%;
	top: 20%;

	font-family: futura;
	font-size: 2.25vh;
	font-weight: normal;
	letter-spacing: 0vh;
}

.icon
{
	padding-left: 1vh;
	opacity: 50%;
	height: 3vh;
}

.icon:hover
{
	opacity: 100%;
	cursor: pointer;
}

.text
{
	left: 0;
	color: rgba(237, 229, 242, .6);
}

.sortByWins
{
	left: 12vh;
	color: rgba(237, 229, 242, .6);
}

.sortByDefeats
{
	left: 20vh;
	color: rgba(237, 229, 242, .6);
}

.sortByWL
{
	left: 29vh;
	color: rgba(237, 229, 242, .6);
}

.sortByWins:hover, .sortByDefeats:hover, .sortByWL:hover
{
	color: rgba(237, 229, 242, 1);
	cursor: pointer;
}

  /* width */
  ::-webkit-scrollbar {
	width: 1vh;
	height: 1vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgba(237, 229, 242, .25);
	border-radius: 100px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #ede5f2ff;
	border-radius: 100px;
  }

  ::-webkit-scrollbar-corner {
	  background: transparent;
	}


	.overlayBack
	{
		display: none;
	
		position: fixed;
		width: 100vw;
		height: 100vh;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}