<div class="container" id="container">
	<div class="rankingContainer">
		<table class="content" id="table">
			<tr>
				<th>Nickname</th>
				<th>Wins</th>
				<th>Losses</th>
				<th>W/L</th>
			</tr>
			<tr *ngFor="let user of allUsers">
				<td>{{user.nick}}
					&nbsp;
					<img src="../../../assets/images/42icon.png" alt="42" class="icon" (click)="showOverlay('profilePopup',user)">
				</td>
				<td>{{user.wins}}</td>
				<td>{{user.defeats}}</td>
				<td>{{user.wins == 0 && user.defeats == 0 ? 'None' : getWinToLossRatio(user)}}</td>
			</tr>
		</table>
	</div>
	<div class="sortBy">
		<p class="text">Rank by:</p>
		<p class="sortByWins" (click)="rankByWins()">Wins</p>
		<p class="sortByDefeats" (click)="rankByDefeats()">Losses</p>
		<p class="sortByWL" (click)="rankByWL()">Win/Loss</p>
	</div>
</div>

<div class="overlayBack" id="overlayBack" (click)="closeOverlay()"></div>
<app-profile-popup *ngIf=(userPopup) id="profilePopup" [userPopup]="userPopup">
</app-profile-popup>
