p
{
    font-size: medium;
    /* background-color: lightblue; */
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 7px;
    color: magenta;
}
  
.ownContainer
{
    justify-content: flex-end;
}
  
.ownMessage
{
    /* background-color: lightgreen; */
    color: lawngreen;
}