.container
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vh;
    height: 80vh;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--black2);
    box-shadow: 0px 0px 18px 0px rgba(147, 181, 199, 0.9);
}

mat-card
{
    height: 40vh;
    top: 80px;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mat-form-field + .mat-form-field
{
    margin-top: 40px;
}

mat-radio-button
{
    margin: 10px 10px 10px 10px;
}

.button
{
    display: flex;
    justify-content: flex-end;
    padding: 10px 130px;
    border-radius: 5px 5px 0 0;
    background-color: brown;
    margin-top: 7px;
}

span, .mat-ripple, .mat-button-ripple
{
    color: aliceblue;
}

.btn
{
    position: absolute;
    bottom: 150px;
    display: flex;
    background-color: var(--gold);
}

.test_div
{
    color: lawngreen;
}