#canvas
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(1.12);
   
}

@media only screen and (max-width: 600px)
{
    #canvas
    {
        width: 60%;
        height: 60%;
        transform: scale(0.4);
        left: -15em;
    }
}

@media only screen and (max-width: 800px)
{
    #canvas
    {
        width: 80%;
        height: 80%;
        transform: scale(0.4);
        left: -9em;
    }
}

@media only screen and (max-width: 1300px)
{
    #canvas
    {
        transform: scale(0.8);
        left: 3em;
    }
}