<p class="start" *ngIf="!start">START!</p>
<div class="background" ></div>
<div *ngIf='!end'>
	<canvas id="canvas" width="800" height="600"></canvas>
	<p *ngIf='start' class=user1>{{user1}}</p>
	<p *ngIf='start' class=user2>{{user2}}</p>
</div>
<div *ngIf='end' class='winScreen'>
	<div class='selection'>
		<p class='selectText'>Winner is:</p>
		<p class='winner'>{{winner}}</p>
		<div class=btn>
			<button mat-menu-item (click)="gameEnds()" class=option>Continue</button>
		</div>
	</div>
</div>

