<div class=body id=body>
    <img class='qrImage' [src]="this.qrImage || '/assets/no-image.png'" alt="">
    <form #Verify2factor="ngForm" (ngSubmit)="verifyCode(Verify2factor)">
        <div class='inputCode'>
            <div class='searchBar'>
                <input type="text" name="code" id="code" placeholder="Your code" [(ngModel)]="this.code" class='searchInput'>
            </div>
            <button type="submit" class="btn">></button>
        </div>
    </form>
    <h1>Uses Google Authenticator</h1>
</div>
