<div class=body id=body>
	<div class=overlayListContainer>
		<h1 class="currentChannelText">Channels</h1>
		<div class="overlayListElementsContainer">
			<ul class="overlayList" *ngFor="let room of list">
				<li (click)="enter(room)">{{room.name}}
					<img src="/assets/images/privateIconDark.png" alt="private" title="Private channel" [className]="room.option == 'private' ? 'icon' : 'noIcon'">
					<img src="/assets/images/OwnershipIconDark.png" alt="owner" title="Owner" [className]="room.ownerId == userId ? 'icon' : 'noIcon'">
				</li>
			</ul>
		</div>
		<button name="submit" class='btn' (click)="create()">+ Channel</button>
	</div>
</div>
