<div class=body id=body>
	<div class=overlayListContainer>
		<h1 class="currentChannelText">Users</h1>
		<div class="overlayListElementsContainer">
			<ul class="overlayList" *ngFor="let room of list">
				<li [matMenuTriggerFor]="menu" >{{room.nick}}
					<img src="/assets/images/blockIconDark.png" alt="block" [className]="room.isBlocked == true ? 'icon' : 'noIcon'">
				</li>
				<mat-menu #menu="matMenu" class=hoverMenuHidden>
				  <button mat-menu-item (click)="enter(room)" class=hoverBtnHidden>Open chat</button>
				  <button mat-menu-item class=hoverBtnHidden>PONG match</button>
				  <button mat-menu-item class=hoverBtnHidden>Check profile</button>
				  <button mat-menu-item (click)="block(room)" class=hoverBtnHidden>{{room.isBlocked == true ? 'Unblock user' : 'Block user'}}</button>
				</mat-menu>
			</ul>
		</div>
	</div>
</div>
