<app-navigation [params]="paramsNav"></app-navigation>
<div class="container">
    <h1>Hello {{nick}}!</h1>
    <form #UpdateUser="ngForm" (ngSubmit)="uploadImage()">
        <div class="form-group">
            <input type="text" name="nick" id="nick"
                placeholder="Update Nick" [(ngModel)]="newNick">
        </div>
        <div class="form-group">
            <input type="email" name="email" id="email"
                placeholder="Update Email" [(ngModel)]="newEmail">
        </div>
        <div class="form-group">
            <h5>Do you want enable 2 Factor Authentication?</h5>
            <input type="radio" name="auth" id="authfalse" [value]="false"
                [(ngModel)]="authChoice">
            <label for="disable">No</label>
        </div>
        <div class="form-group">
            <input type="radio" name="auth" id="authtrue" [value]="true"
                [(ngModel)]="authChoice">
            <label for="enable">Yes</label>
        </div>
       <div class="form-group">
            <h5>Choose an avatar by clicking on the image</h5>
            <input type="file" name="image" id="image"
                (change)="onImageSelected($event)" #imageInput>
            <img [src]="imageSelected || '../../../assets/no-image.png'"
                alt="no-image" (click)="imageInput.click()">
       </div>
        <input class="btn" type="submit" value="Update" id="btn_update">
    </form>
</div>
