p
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    /* background-color: lightblue; */
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 7px;
    color: rgba(237, 229, 242, .8);
}

em
{
    font-family: 'futura';
    color: lightgreen;
    font-size: small;
    text-align: left;
}
  
.ownContainer
{
    justify-content: flex-end;
}
  
.ownMessage
{
    /* background-color: lightgreen; */
    color: lightskyblue;
    text-align: right;
}