div{
    border: 0px solid #ede5f2ff;
}

.body
{
    margin-right: auto;
    margin-left: 0;
    width: max-content;
    max-width: 70%;
}

.myBody
{
    margin-right: 0;
    margin-left: auto;
    width: max-content;
    max-width: 70%;
    text-align: right;
}

.title
{
    font-family: 'futura';
    font-style: normal;
    color: lightgreen;
    font-size: medium;
}

.myTitle
{
    font-family: 'futura';
    font-style: normal;
    color: lightskyblue;
    font-size: medium;
}

p
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    width: fit-content;
    text-align: left;
    color: rgba(237, 229, 242, .8);
}