<div class="container">
    <h1>Welcome! Now register</h1>
    <div class="card">
        <div class="card-body">
            <form #FormRegister="ngForm" (ngSubmit)="userRegister(FormRegister)">
                <div class="form-group">
                    <label for="Inputnick">Choose a Nick</label>
                    <input type="text" name="nick" class="form-control" id="nick" placeholder="Nick" required
                        [(ngModel)]="authService.selectedUser.nick">
                    <label for="Inputemail">Enter your Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" required
                        [(ngModel)]="authService.selectedUser.email">
                    <label for="Inputphone">Enter your phone number</label>
                    <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone Number" required
                        [(ngModel)]="authService.selectedUser.phone">
                    <button type="submit" class="btn" id="register">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>