<div class="container" id="container">
	<div class=friendsContainer>
		<div class="currentChannel">
			<h1 class="currentChannelText">Users</h1>
		</div>
		<div class="listContainer">
			<ul class="list" *ngFor="let room of allUsers">
				<li (click)="directMessage(room)">{{room.nick}}
					<img src="../../../../assets/images/blockIcon.png" alt="leave" [className]="1 == 1 ? 'icon' : 'icon'">
				</li>
			</ul>
		</div>
	</div>
	<div class=channelsContainer>
		<div class="currentChannel">
			<h1 class="currentChannelText">Channels</h1>
		</div>
		<div class="listContainer">
			<ul class="list" *ngFor="let room of channels">
				<li (click)="changeCurrentRoom(room)">{{room.name}}
					<img src="../../../../assets/images/privateIcon.png" alt="leave" [className]="room.option == 'private' ? 'icon' : 'noIcon'">
					<img src="../../../../assets/images/OwnershipIcon.png" alt="leave" [className]="room.ownerId == mainUser.id ? 'icon' : 'noIcon'">
				</li>
			</ul>
		</div>
		<button class=add id="add" (click)="showOverlay('newChannel')">+ Channel</button>
	</div>
	<div class=chat>
		<app-chat-channel [chatRoom]="currentRoom"></app-chat-channel>
	</div>
	<img src="../../../../assets/images/openRightIcon.png" (click)="showOverlay('hiddenChannelList')" alt="openRightIcon" class="openRight">
	<img src="../../../../assets/images/openLeftIcon.png" (click)="showOverlay('hiddenUserList')" alt="openLeftIcon" class="openLeft">
</div>
<div class="overlayBack" id="overlayBack" (click)="closeOverlay()"></div>
<app-create-room id="popup" (closeOverlay)='closeOverlay()'></app-create-room>
<app-get-password id="password" (ifPassword)='ifPassword($event)'></app-get-password>
<app-user-list-hidden id="hiddenUserList" [list]="allUsers" (directMessage)='directMessage($event)' (closeOverlay)='closeOverlay()'></app-user-list-hidden>