<div *ngIf="chatRoom; else no_chatroom_selected" >
	<div class="currentChannel">
		<h1 class="currentChannelText">{{chatRoom.name}}</h1>
		<div *ngIf='userId == chatRoom.ownerId' class="iconBox">
			<img src="/assets/images/settingsIcon.png" class="settingsIcon"
			title="Channel settings" [matMenuTriggerFor]="menuhidden">
			<mat-menu #menuhidden="matMenu" class=hoverMenu>
			  <button mat-menu-item class=hoverBtn (click)="changeChannelOption()">{{chatRoom.option == "private" ? 'Make channel public' : 'Make channel private'}}</button>
			  <button *ngIf='chatRoom.option == "private"' mat-menu-item class=hoverBtn (click)="showOverlay.emit('changePassword')">Change password</button>
			  <button mat-menu-item class=hoverBtnDelete (click)="deleteChannel()">Delete channel</button>
			</mat-menu>
		</div>
	</div>
	<div #messages class="messageBox">
		<div class="message">
			<span *ngFor="let message of (messagesPaginate$ | async)?.items">
			<app-chat-message [message]="message" [userId]="userId" [matMenuTriggerFor]="menuUser"></app-chat-message>
			<mat-menu #menuUser="matMenu" class=hoverMenu>
			  <button mat-menu-item class=hoverBtn (click)="changeChannelOption()">{{checkIfAdmin(message.user!) ? 'Demote user' : 'Promote to admin'}}</button>
			  <button mat-menu-item class=hoverBtnDelete (click)="BanUser(message.user!)">Ban user</button>
			</mat-menu>
			</span>
		</div>
	</div>
    <form class="form" (ngSubmit)="sendMessage()">
		<div class="searchBar">
			<input type="text" placeholder="Say something!" name="message" [(ngModel)]="message" class="searchInput" (keypress)="typingIndicator()">
			<button type="submit" class="btn">></button>
		</div>
	<p id="typing" class="isTyping"><em>{{write}}</em></p>
    </form>
	<!--<div style="position: absolute; bottom: 0; display: flex; flex-direction: row; align-items: center;">
		<mat-form-field style="width: 350px;" class="chatRoom">
			<input #chatInput matInput [formControl]="chatMessage"
					type="text" (keypress)="typingIndicator()">
		</mat-form-field>
		<button mat-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
			<span style="display: flex; flex-direction: row; align-items: center;">
				<mat-icon style="margin-left: 20px;">send</mat-icon>
				<p style="margin-left:10px;">Send</p>
			</span>
		</button>
	</div>-->
</div>

<ng-template #no_chatroom_selected>
	<div class="currentChannel">
		<h1 class="currentChannelText">Select a chatRoom!</h1>
	</div>
</ng-template>