
.currentChannel
{
    position: absolute;
    height: 8vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: 0.2s;
}

.currentChannelText
{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: futura;
    font-size: 2.5vh;
    color: #ede5f2ff;
    top: 12%;
    margin: auto;
    letter-spacing: 0.2vh;
}

.messageBox
{
    position: absolute;
    height: 80%; 
    width: 98%;
    right: 0;
    left: 0;
    top: 8%;
    margin: auto;
    overflow: auto;
}

.message
{
    position: absolute;
    width: 90%;
    right: 0;
    left: 0;
    margin: auto;
}

.form
{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.searchBar
{
    position: relative;
    width: 90%;
    height: 5.5vh;
    left: 0;
    right: 0;
    top: 0.25vh;
    margin: auto;

    background-color: rgba(237, 229, 242, .8);
    color: rgba(19, 5, 11, 1);
    border-radius: 5vh;
}

    .searchInput
    {
        position: absolute;
        background-color: transparent;
        border: transparent;
        width: 85%;
        height: 100%;
        left: 5%;
        top: 0;
        bottom: 0;
        margin: auto;

        letter-spacing: 0.2vh;
        color:#805849ff;
        text-align: left;
        font-family: futura;
        font-size: 2vh;
    }

    input:focus
    {
        outline: none;
    }

    input::placeholder
    {
        color: rgba(19, 5, 11, .5);
    }

    .btn
    {
        position: absolute;
        height: 100%;
        right: 2.5%;
        bottom: 10%;
        margin: auto;

        color: rgba(19, 5, 11, .5);
        font-size: 3.5vh;
    }
    .btn:hover
    {
        color: #805849ff;
        cursor: pointer;
    }

    .isTyping
    {
        position: absolute;
        color: rgba(237, 229, 242, .4);

        font-family: 'futura';
        width: 100%;
        top: -35%;
        font-size: 1.5vh;
        letter-spacing: 0.2vh;
        margin: auto;
        text-align: center;

    }

    .iconBox
    {
        height: 100%;
    }

    .settingsIcon
    {
        opacity: 60%;
        position: absolute;
        height: 35%;
        left: 3.5vh;
        top: 1.3vh;
    }
    .settingsIcon:hover
    {
        opacity: 100%;
        cursor: pointer;
    }
    .userMessage
    {
        position: absolute;
        height: 20px;
        width: 150px;
    }
    .userMessage:hover
    {
        cursor: pointer;
    }

	/* width */
	::-webkit-scrollbar {
		width: 1vh;
		height: 1vh;
	  }
	  
	  /* Track */
	  ::-webkit-scrollbar-track {
		background: rgba(237, 229, 242, .25);
		border-radius: 100px;
	  }
	  
	  /* Handle */
	  ::-webkit-scrollbar-thumb {
		background: #ede5f2ff;
		border-radius: 100px;
	  }


      ::ng-deep .hoverBtnDelete
      {
          color: rgb(252, 102, 102);
          font-family: 'futura';
          font-size: 1.8vh;
      }