div{

    border: 0px solid #ede5f2ff;
}

.optionButton
{
    position: absolute;
    width: 100%;
    height: 70%;
}

.option
{
    margin-top: 10%;
    position: relative;
    width: 60%;
    height: 12%;
    /* right: 0;
    left: 0;
    bottom: 0;*/
    
    background-color: rgba(237, 229, 242, .25);
    border: 0.5vh solid #ede5f2ff;
    border-radius: 1000px;

    color: #ede5f2ff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(19, 5, 11, .35);
    
    transition-duration: 0.2s;
}

.option:hover
{
    background-color: #fbc900ff;
    border: 0px solid #ede5f2ff;
    cursor: pointer;

    border: 0px solid #ede5f2ff;
	color: #805849ff;
}

.container
{
	position: relative;
	height: 100%;
	width: 100%;
}

.pongContainer
{
	background-color: rgba(19, 5, 11, 0.5);
	box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	border-radius: 3.8vh;
	border: 0.5vh solid #ede5f2ff;
	position: absolute;
	width: 88.8vh;
	height: 66.6vh;
	left: 0;
    font-family: futura;
    font-size: 3vh;
}

.chatContainer
{
	position: absolute;
	height: 66.6vh;
	width: 25%;
	right: 0;
	background-color: rgba(19, 5, 11, .50);
	box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	border-radius: 3.8vh;
	border: 0.5vh solid #ede5f2ff;
}

.selection
{
    position: absolute;
    height: 80%;
    width: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    font-family: 'futura';
    text-align: center;
    color: #ede5f2ff;
}

.selectText
{
    margin-top: 10%;
}


.currentChannel
{
    position: absolute;
    height: 8vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.currentChannelText
{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: futura;
    font-size: 2.5vh;
    color: #ede5f2ff;
    top: 12%;
    margin: auto;
    letter-spacing: 0.2vh;
}


.listContainer
{
    position: absolute;
    width: 80%;
    height: 80%;
    right: 0;
    left: 0;
    bottom: 11%;
    margin: auto;
    overflow: auto;
}

.list
{
    color: #ede5f2ff;
    font-family: futura;
    font-size: 2vh;
    font-weight: normal;
    letter-spacing: 0vh;
    list-style: none;
    padding-left: 0%;
    margin-bottom: 1vh;
}

.list:hover
{
    color: #fbc900ff;
    cursor: pointer;
}

@media only screen and (max-width: 1400px)
{
    .chatContainer
    {
        width: 18%;
    }
}

@media only screen and (max-width: 1220px)
{
    .chatContainer
    {
        display: none;
    }

    .pongContainer
    {
        right: 0;
        margin: auto;
    }
}

@media only screen and (max-width: 1000px)
{
    .pongContainer
    {
        width: 80vw;
        height: 60vw;
        top: 0;
        bottom: 0;
        font-size: 3vw;
        border: 0.5vw solid #ede5f2ff;
    }
    .option
    {
        border: 0.5vw solid #ede5f2ff;
    }
}

.entry
{
    width: 100%;
    margin-top: 8%;
    font-size: 2.5vh;
    font-style: italic;
    color: rgba(237, 229, 242, 0.8);
}

.checkBox
{
	appearance: none;
	width: 2.5vh;
	height: 2.5vh;
	left: 0;
	margin-bottom: -0.5%;

	background-color: #ede5f2ff;
	border-radius: 50px;
}

.checkBox:checked
{
	background-color: #805849ff;
	border: 0.5vh solid #ede5f2ff;
}

.checkBox:hover
{
	cursor: pointer;
}

.close
{
    position: absolute;
}