<div  class="container">
	<div class="pongContainer">
		<div *ngIf="Menu" class='selection' id='selection'>
			<p class='selectText'>Select a game mode:</p>
			<button class="option OnlineMode" (click)="changeToOnline()" id="normal">Online</button>
			<button class="option AImode" (click)="changeToAi()" id="demo">Vs AI</button>
			<button class="option PowerUpMode" (click)="changeSpecial()" id="special">Power-ups</button>
		</div>
		<router-outlet></router-outlet>
		<app-pong-game *ngIf="AImode" [gameRoom]="roomGame"></app-pong-game>
		<!--<app-waiting-room *ngIf="OnlineMode" [search]="OnlineMode"></app-waiting-room>-->
		<!--<app-waiting-room></app-waiting-room>-->
	</div>
	<div class="chatContainer"></div>
</div>

