<div class=body id=body>
	<div class="box" id='ProfileBox'>
		<img src={{userPopup.avatar}} alt="Profile Picture" id="avatarPopup" class="profile" >
		<div class=nick>
			<p class=nickStyle>{{userPopup.nick}}</p>
		</div>
		<div class=user>
			<p class=userStyle (click)=openUser()>{{userPopup.user42}}</p>
		</div>
		<div class=points>
			<p class=wins>WINS</p>
			<p class=defeats>DEFEATS</p>
		</div>
		<div class=bar id=back>
			<div class=defeatsBar id=front></div>
			<p class=wins>{{userPopup.wins}}</p>
			<p class=defeats>{{userPopup.defeats}}</p>
		</div>
			<p class='matchHistorialBtn' (click)='showMatchHistorial()'>Match historial</p>
		<div class=status id="status">
			<p class=statusStyle>{{status}}</p>
		</div>
	</div>
	<div class='MatchHistorial' id='MatchHistorial'>
		<button class='close' (click)='hideMatchHistorial()'>x</button>
		<p class=match>Match historial</p>
		<div class="overlayListContainer">
			<div class="overlayListElementsContainer">
				<ul class="overlayList" id="overlayList" *ngFor="let match of userPopup.matches">
					<li id='matchList'>{{match}}</li>
				</ul>	
			</div>
		</div>
	</div>
</div>
