<div class=body id=body>
	<div class="box">
		<img src={{userPopup.avatar}} alt="Profile Picture" class="profile">
		<div class=nick>
			<p class=nickStyle>{{userPopup.nick}}</p>
		</div>
		<div class=user>
			<p class=userStyle>{{userPopup.user42}}</p>
		</div>
		<div class=points>
			<p class=wins>WINS</p>
			<p class=defeats>DEFEATS</p>
		</div>
		<div class=bar>
			<div class=defeatsBar id=defeats></div>
			<p class=wins>{{userPopup.wins}}</p>
			<p class=defeats>{{userPopup.defeats}}</p>
		</div>
		<div class=status>
			<p class=statusStyle>{{userPopup.status}}</p>
		</div>
	</div>
</div>
